body{
    
        background-image: url('background8.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
}

#top{
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    background-color:#002147;
    color:white;
    font-size:0.5cm;
    font-weight:bold;

}

#home{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    margin-left:1000px;
    margin-top:5px;
    margin-bottom:5px;
    background-color:white;
    color:#002147;
    font-size:0.5cm;
    font-weight:bold;
    text-align:center;
}

#logout,#but{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    margin-left:10px;
    margin-top:5px;
    margin-bottom:5px;
    background-color:white;
    color:#002147;
    font-size:0.5cm;
    font-weight:bold;
    text-align:center;

}
#but{
    margin-left:600px;
}

#info{
    padding:20px;
    font-size:25px;
    font-weight:bold;
    color:white;
    border:3px solid white;
    margin:20px;
    margin-left:200px;
    margin-right:200px;

}

h3{
    margin-left:150px;
    color:white;
    padding:10px;
    font-size:25px;
    font-weight:bold;

}
p{
    padding:5px;
}
#mail{
    margin-left:150px;

}
.name{
    margin-left:150px;
}

#in{
    padding:5px;
    margin-left:100px;

}
